/*
------------------------------------------------------------------------------------------------------------------------
        BASIC SETUP
------------------------------------------------------------------------------------------------------------------------
*/

/*
    BRAND COLORS

    Orange = #fdad7e
    Blue = #baebdd
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: rgb(0, 0, 0);
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 21px;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

/*
------------------------------------------------------------------------------------------------------------------------
        HEADER
------------------------------------------------------------------------------------------------------------------------
*/

.main-nav {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 30px 0;
}

.nav-options ul {
    gap: 20px;
}

.nav-options li {
    list-style: none;
    display: inline-block;
    margin: 0 0.7rem;
    font-weight: 400;
    text-transform: uppercase;
    word-spacing: 3px;
}

.sticky {
    background-color: rgba(173, 210, 219, 0.7);
    width: 100%;
    padding: 0px 0;
    margin: 0 auto;
    position: fixed;
    z-index: 3;
    transition: background-color 0.2s;
}

.hero {
    background-image: url(img/silhouette-of-mountains-1323550.jpg);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}

.hero-text {
    /*color: #fff;*/
    text-align: left;
    width: 70%;
    padding: 15vh 10%;
}

.btn-box {
    display: block;
    width: 100%;
    margin-left: 10%;
}

.hero a {
    display: block;
    float: left;
    padding: 15px;
    width: 10rem;
    font-size: 110%;
    text-align: center;
    margin: 0 20px;
}

header h2:after {
    display: none;
}

header h2 {
    margin-left: 10px;
}

h2:after {
    
    display: block;
    height: 5px;
    background-color: #7bebcb;
    content: "";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
    

}

/*
------------------------------------------------------------------------------------------------------------------------
        Reusable components
------------------------------------------------------------------------------------------------------------------------
*/

/*
    Headers
*/

h1 {
    font-family: 'Lato', 'Arial', sans-serif;
    margin-bottom: 40px;
    font-size: 280%;
    margin: 0;
    letter-spacing: 3px;
}

p {  margin-top: 0.6em; margin-bottom: 0em; }

a, a:visited, a:active {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

section {
    margin: 2rem auto;
    width: 80%;
    text-align: center;
}

section h2 {
    margin-bottom: 1.5rem;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
    /*font-size: 90%;*/
}

cite img {
        width: 2rem;
}

/*
    Animations
*/

.js--wp-4 {
            animation-duration: 1s;
}



  /*
------------------------------------------------------------------------------------------------------------------------
        Specific Sections
------------------------------------------------------------------------------------------------------------------------
  */

  /*
    About section
  */

  .about-section {
      width: 100%;
  }

  .overlap-box:nth-child(1) {
       width: 100%;
       display: grid;
       grid-template-columns: 2fr;
       grid-template-rows: repeat(10, 4.75rem);

  }


  .overlap-box img {
      /*width: 80%;*/
      height: 100%;
      display: block;
      margin: 0 auto;
  }

  .overlap-box img:nth-child(4) {
    /*border: 1px solid black;*/
    grid-column: 1 / 3;
    grid-row: 2 / 11 ;
    border-radius: 50px;
  }

  .module-wrapper {
    width: 70%;
    padding: 3px;
    position: relative;
    background: linear-gradient(to right, #7bebcb, #ff9b60);
    margin: 0 auto;
  }
  
  .module {
    background: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    padding: 2rem;
    margin: 0 auto;
  }

  .module-wrapper:nth-child(2) {
    grid-column: 1 / 3;
    grid-row: 3 / 5;
  }

  .module-wrapper:nth-child(3) {
    height: 100%;
    grid-column: 1 / 3;
    grid-row: 7 / 9;
  }

  .overlap-box:nth-child(4) {
      border: 10px solid black;
  }

  

  .module p {
    line-height: 30px;
  }

  /*
    Services section
  */

  .services-section,
  .packages-section {
      padding: 2rem;
      border-radius: 50px;
      background-color: #f5f5f5;
  }

  .services-section {
      background-image: linear-gradient(rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.8)), url(img/priscilla-du-preez-Q7wGvnbuwj0-unsplash.jpg);
      background-size: cover;
  }

  .free-class {
      border-radius: 30px;
      display: block;
      margin: 0 auto;
      margin-top: 2rem;
      padding: 2rem;
      color: rgb(255, 255, 255);
      width: 30%;
      background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(img/duotone.png);
      box-shadow: 0 5px 5px #0000004d;
      background-size: cover;
  }

  .test-class h2::after {
      display: none;
  }

  .btn-ebook,
  .btn-book,
  .btn-free,
  .btn-interested {
    display: block;
    margin: 0 auto;
    width: 70%;
    padding: 0.6rem;
    font-weight: 400;
    font-size: 100%;
    border-radius: 25px;
  }
  .btn-book {
    color: #ff9b60;
    border: 2px solid #ff9b60;
  }

  .btn-ebook,
  .btn-free {
     margin-top: 60px;
     color: #fff;
  }

  .btn-free {
    background-color: #ff9b60;
    border: 2px solid #ff9b60;
  }

  .btn-ebook {
    background-color: #58ac94;
    border: 2px solid #58ac94;
  }

  .btn-interested {
      color: #58ac94;
      border: 2px solid #58ac94;
  }

  .btn-book:active,
  .btn-book:link,
  .btn-book:visited {
      color: #ff9b60;
  }

  .btn-ebook:active,
  .btn-ebook:visited,
  .btn-free:active,
  .btn-free:visited {
      color: #fff;
  }

  .btn-interested:active,
  .btn-interested:link,
  .btn-interested:visited {
    color: #58ac94;
  }

  .btn-book:hover, .btn-book:active,
  .btn-free:hover, .btn-free:active,
  input[type=submit]:hover,
  input[type=submit]:active {
    background: #e97a31;
    color: #fff;
    border: 2px solid #e97a31;
    transition: background 0.4s, border 0.4s;
  }

  .btn-interested:hover, .btn-interested:active,
  .btn-ebook:hover, .btn-ebook:active {
    background: #3f7c6b;
    color: #fff;
    border: 2px solid #3f7c6b;
    transition: background 0.4s, border 0.4s;
  }

  .services-grid {
      margin: 3rem auto auto auto;
      width: 95%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      gap: 1.5rem;
  }

  .service {
      background-color: rgb(255, 255, 255);
      padding: 15px;
      border-radius: 20px;
      box-shadow: 0 2px 2px #fcfcfc;
  }

  .packages-section {
      background-image: linear-gradient(rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.8)), url(img/white-laptop-1181406.jpg);
      background-color: #e6e6e6;
      background-size: cover;
  }

  .service h4 {
      width: 100%;
      display: block;
      margin: 15px 0;
  }

  .service ul {
      list-style: none;
  }

  .service li {
      margin: 1rem 0;
  }

  .service h4,
  .service li:last-child {
      padding-bottom: 15px;
      border-bottom: 1px solid #efefef;
}

  .service-image {
      display: block;
      border-radius: 5px;
      margin: 0 auto;
      max-width: 100%;
  }

  /*
    Packages section
  */

  /*
    Contact section
  */

  .form-grid {
      width: 60%;
      margin: 60px auto;
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 1rem;
    }

  input[type=text],
  input[type=email],
  select,
  textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
    }

    input[type=checkbox] {
    margin: 10px 5px 10px 0;
    }

    input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
    background-color: #ff9b60;
    border: 2px solid #ff9b60;
    margin-right: 15px;
    }

    .g-recaptcha {
        grid-row: 6;
        grid-column: 2;
    }

  /*
    Testimonial section
  */

  /*SLIDER*/

  #slider {
    margin: 0 auto;
    width: 800px;
    max-width: 100%;
    text-align: center;
 }
 #slider input[type=radio] {
    display: none;
 }
 #slider label {
    cursor:pointer;
    text-decoration: none;
 }
 #slides {
    padding: 10px;
    border: 3px solid #ccc;
    background: #fff;
    position: relative;
    z-index: 1;
 }
 #overflow {
    width: 100%;
    overflow: hidden;
 }
 .inner {
     margin: 0px;
     padding: 0;
     overflow: hidden;
 }
 #slide1:checked ~ #slides .inner {
    margin-left: 0;
 }
 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }
 #slide4:checked ~ #slides .inner {
    margin-left: -300%;
 }
 #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
     /*line-height: 0;*/
    height: 300px;
 }
 #slides .slide {
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
 }

 .slide-content {
     padding: 30px;
 }

 #slides .slide_1 {
    background: #00171F;;
 }
 #slides .slide_2 {
    background: #003459;
 }
 #slides .slide_3 {
    background: #007EA7;
 }
 #slides .slide_4 {
    background: #00A8E8;
 }
 #controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
 }
 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
 }
 #controls label:hover {
    opacity: 1;
 }
 #slide1:checked ~ #controls label:nth-child(2),
 #slide2:checked ~ #controls label:nth-child(3),
 #slide3:checked ~ #controls label:nth-child(4),
 #slide4:checked ~ #controls label:nth-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
    float:right;
    margin: 0 -50px 0 0;
    display: block;
 }
 #slide1:checked ~ #controls label:nth-last-child(1),
 #slide2:checked ~ #controls label:nth-last-child(4),
 #slide3:checked ~ #controls label:nth-last-child(3),
 #slide4:checked ~ #controls label:nth-last-child(2) {
    background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
    float:left;
    margin: 0 0 0 -50px;
    display: block;
 }
 #bullets {
    margin: 150px 0 0;
    text-align: center;
 }
 #bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: #ccc;
    margin: 0 10px;
 }
 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3),
 #slide4:checked ~ #bullets label:nth-child(4) {
    background: #444;
 }
 @media screen and (max-width: 900px) {
    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(4),
    #slide4:checked ~ #controls label:nth-child(1),
    #slide1:checked ~ #controls label:nth-last-child(2),
    #slide2:checked ~ #controls label:nth-last-child(3),
    #slide3:checked ~ #controls label:nth-last-child(4),
    #slide4:checked ~ #controls label:nth-last-child(1) {
       margin: 0;
    }
    #slides {
       max-width: calc(100% - 140px);
       margin: 0 auto;
    }
 }

  /*
    Footer
  */

  footer {
      background-color: rgb(59, 59, 59);
      color: #fff;
      padding: 40px;
  }

  .footer-nav {
      float: left;
  }

  .disclaimer {
      display: block;
      margin: 0 auto;
      text-align: center;
      padding: 20px;
  }

  .disclaimer p {
      margin-top: 20px;
  }

.social-links {
    list-style: none;
    float: right;    
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a,
.social-links li a {
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-google,
.ion-social-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-google:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #517fa4;
}




